.active {
  height: 55px;
  padding-top: 10px;
  background-color: #1a1a1a;
  color: #ffffff !important;
  padding: 10px;
}

.slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
